html {
  width: 21cm;
}

body {
  font-family: Gill Sans, sans-serif;
}

a {
  text-decoration: none;
  color: #2277BB;
}
a:hover {
  text-decoration: underline;
}

.title {
  font-style: italic;
}

.style {
  font-size: 9pt;
}

h2 {
  margin-bottom: 0cm;
}

.old {
  font-color: #555555;
}
